/*----------------TEEMAT-----------------*/

/* Default (light) theme variables */
:root {
    --background-color: #dae4da;
    /* --background-image: url("../assets/pictures/tausta1.jpg"); */
    --esittely-color: #f0f0f0a8;
    --link-hover-color: #eeeeee;
    --text-color: #505050;
    --navbar-color: rgba(255, 255, 255, 0.3);
    --navbar-linkit-color: #505050;
    --navbar-li-hover: #94a594;
    --switch-backg-color: #d9d9d9;

    --switch-border-color: #a01111;

    --switch-icon: url("../assets/pictures/day.png");
    --switch-color: #bcbcbc;
    --kansio-hover: #c9d1c5;
    --pic-hover: #f0f0f0;
}

/* Dark theme variables */
.dark-theme {
    --background-color: #090c0b;
    --switch-icon: url("../assets/pictures/night.png");
    --switch-backg-color: #2a2a2a;


}



/*----------------BODY-----------------*/
body {

    background-color: var(--background-color);
    height: 100vh; /* Full height of browser window */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: var(--text-color);
}


h1 {
    font-size: 30px;
    color: var(--navbar-linkit-color);
 
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
    color: var(--text-color);
}


/*----------------PÄÄOTSIKKO & NAVBAR-----------------*/
#menu-icon { /* nav icon joka tulee mediatilas*/
    display: none;
}

#paaotsikko {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a4b59b;
    font-size: 40px;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
        -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000,
        0px -2px 0 #000000, 7px 8px 5px rgba(69, 96, 80, 0.79);
    margin-left: 25vh;

}


.tassu {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    vertical-align: middle;

}


/* Style for the navbar container */
.navbar {
    display: flex;
    align-items: center;
    background-color: var(--navbar-color);
    margin-top: 10px;
    position: relative;
    box-shadow: 0px 2px 40px rgba(69, 96, 80, 0.2);
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 10px; /* Adjust this margin as needed */
}

/* Remove margin-right from nav li */
nav li {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: var(--navbar-linkit-color);
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px;
    border-radius: 10px;
}

nav li a:hover {
    color: var(--link-hover-color);
    background-color: var(--navbar-li-hover);
}

/* .current {
    border-bottom: 2px solid #ff6600;  EI TOIMI 
} */

#switch {
    border: none;
    background: var(--switch-icon) no-repeat center center;
    background-size: contain; /*koko ikoni näkyy */
    padding: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--switch-backg-color);
    
}

#switch:hover {
    color: var(--background-color);
    background-color: var(--switch-color);
    
}

/*----------------ESITTELY-----------------*/


.container1 {   /*tervehdys container */
    
    background-color: var(--esittely-color);
    display: flex;
    justify-content: center; /* menee vierekkäin */
    align-items: center; /*emt ainaki rampse menee keskelle*/
    max-width: 80%;
    max-height: 50%;
    font-size: 18px;
    color: var(--navbar-linkit-color);
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    

    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
    /* background: linear-gradient(90deg, rgba(227,22,22,0) 0%, rgba(255,0,0,1) 55%, rgba(236,63,63,0) 100%);
    background: linear-gradient(90deg, rgba(240,240,240,0) 8%, rgba(240,240,240,0.893516732865021) 50%, rgba(240,240,240,0) 92%); */

    /* background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(240, 240, 240, 0) 94%);  */
}

/* Style the welcoming text */
.esittelyH1 {
    font-size: 30px;
    color: var(--navbar-linkit-color);
}


/* Style the left column (containing the dog image) */
.left {
    flex: 1;
    max-width: 40%;
    padding-left: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally and vertically */
   

}

#rampse { /*img*/
   max-width: 100%; /* Ensure the image scales proportionally */
    height: auto; /* Allow the image to adjust its height accordingly */
}

/* Style the right column (containing the welcoming text) */
.right {
    flex: 1; /* Take up 1/2 of the container width */
    padding: 40px;
    max-width: 60%;
    display: flex;
    flex-direction: column; /* Stack the child elements vertically */
    
    align-items: center; /* Center content horizontally */
    text-align: center;
   
    
}

/* Style the additional information at the bottom */
.bottom-info {
    background-color: var(--esittely-color);
    /* Grey background color */
    text-align: center;
    padding: 10px 0;
    max-width: 80%;
    margin: 0px auto;
    margin-top: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Style the paragraph inside the bottom info div */
.bottom-info p {
    font-size: 16px;
    color: var(--navbar-linkit-color);
    /* Text color */
}


.esittelyBoxit h2 {
    margin: 0 auto;
    font-size: 20px;
}


/* Style the boxit section */
.esittelyBoxit {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    
    
}

.esittelyBox {
    text-align: center;
    width: 400px;
    max-height: 300px;
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--esittely-color);
    font-size: 17px;
    border-radius: 10px;
}

.esittelyBox:hover {
    color: var(--link-hover-color);
    background-color: var(--navbar-li-hover) 
    
}

.esittelyBox img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.esittelyBoxit a {

    text-decoration: none;
    /*ei alleviivauksia linkissä*/
    color: var(--navbar-linkit-color);
    
}




/*----------------GALLERIA-----------------*/

#galtsuTxtjaButtons {

    text-align: center;
    /* Center text horizontally within the section */
    padding: 20px;
    /* Add padding for spacing */
    background-color: var(--esittely-color);
    font-size: 16px;
    color: var(--navbar-linkit-color);
    /* Text color */
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding-bottom: 60px;
    height: 60vh;
    

}

#galtsuTxtjaButtons p {
    margin-top: 40px;
}

.albums {
    display: flex;
    justify-content: center;
    /* Center buttons horizontally */
    gap: 80px;
    /* Adjust the gap between buttons as needed */

}

.galButton {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-top: 10px;
    margin-top: 40px;
    
    border: none;
    border-radius: 10px;
    color: var(--navbar-linkit-color);
    
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
}

.galButton img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in-out;
    margin-bottom: 29px;
}



#puppyFolder:hover {
    background-color: #c6e6b4;
}
#adultFolder:hover {
    background-color: #a6cea2;

}
#friendFolder:hover {
    background-color: #9fd2bc;
}

.galButton img:hover {
    transform: scale(1.2); 
}

/*-------------Gallerian sisältö--------*/
#gallery {
    /*koko gallerian "säiliö" kuvineen ja teksteineen*/
    display: grid;
    /* more flexible and responsive layout with grip, allows to define how items should be placed in rows/columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*creates as many columns as possible based on the available space, ensures thah each column will be at least 250 pixels wide, but no wider than 1fr*/
    gap: 30px;
    /* space between rows and columns //horizo */
    padding: 50px;
    text-align: center;

}

.kuvatContainer {
    border: 2px solid var(--navbar-linkit-color);
    background-color: var(--navbar-color);
    padding: 20px;
    border-radius: 31px;
    transition: transform 0.5s ease-in-out;
    background-color: var(--navbar-color);
    margin-bottom: 20px;

}

.kuvatContainer .kuvat {
    /*itse sisältö eli kuva ja teksti*/
    /* margin: 60px 10px 60px 10px; ylä, oikea, ala, vasen */
    max-width: 100%;
    /* Limit image width to its container */
    height: auto;
    /* Maintain the aspect ratio */
    border-radius: 20px;
}

.kuvatContainer:hover {

    transform: scale(1.1);
    border: 2px solid var(--navbar-li-hover);
    background-color: var(--pic-hover);

}

.kuvatContainer .description {

    background: rgba(48, 48, 48, 0.7);
    color: white;
    border: 1px solid #474747;
    padding: 10px;
    text-align: center;
    transform: translateY(90%);
    /*teksi on 100px tai % kuvan alapuolella*/
    transition: transform 0.3s ease-in-out;
    /* 0.3 sec viive, täytyy olla täällä koska */

}

.kuvatContainer:hover .description {
    transform: translateY(10%);
    /*teksti siirtyy kuvan päälle*/
    border-radius: 31px;
}


/*----------------BIO/INFO -----------------*/

.info-container{
    
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    grid-template-areas: 
    "main main main sidebar"
    "content1 content2 content3 sidebar";
    grid-gap: 1rem;
    text-align: center;
    background-color: #a4b59b;
    padding: 10px;
    border-radius: 10px;
}

.info-container h2{
    font-size: 20px;
    margin-bottom: 30px;

}
.info-container p{
    font-size: 18px;
    
}

main {
    grid-area: main;
    display: flex;
}

.main-info, .main-hobbies {
    flex: 1; /* Equal width for both sections */
    padding: 10px; /* Optional padding for spacing */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-info {

    background-color: var(--esittely-color);
    border-radius: 10px 0px 0px 10px;

}

.main-info p {
 margin-bottom: 10px;
 text-align: left;
}

.main-info img {
    max-width: 50%;
    border-radius: 20%;
    border: solid 2px var(--navbar-linkit-color);
}

.main-hobbies {
    background-color: var(--esittely-color);
    border-radius: 0px 10px 10px 0px;
}

.main-hobbies ul, .main-info ul{
    list-style-type:circle;
    margin-left: 20px;
    font-size: 18px;
}

.main-hobbies li, .main-info li {
    margin-bottom: 10px;
    text-align: left;
    margin-left: 0px;
}
#sidebar {
    background-color: var(--esittely-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    grid-area: sidebar;
    border-radius: 10px;
    padding: 24px;
    border: solid 2px var(--navbar-linkit-color);
    
}
/* Kontsa 1 */
#content1{

    background-color: var(--esittely-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    grid-area: content1;
    border-radius: 10px;
}
#content1 video {
    max-width: 100%;
   
}

/* Kontsa 2 */
#content2 {
    background-color: var(--esittely-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    grid-area: content2;
    border-radius: 10px;
    text-align: center;
   
}

.linkit {
    list-style: none;
    margin-left: 50px;
    font-size: 18px;     
    padding: 0;
    
}



.linkit li {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
 
}


.linkit a {
    text-decoration: none;
    color: var(--navbar-linkit-color);
    
    
}

.linkit img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.linkit a:hover {

    text-decoration: underline;
    color: var(--switch-color);

  }



/* Kontsa 3 */
#content3 {

    background-color: var(--esittely-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    grid-area: content3;
    border-radius: 10px;
    font-size: 20px;
}

#countdown {
    font-size: 18px;
    background-color:rgba(207, 183, 209, 0.5);
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    border: 7px double #555d65;
    background: linear-gradient(83deg, rgb(217, 200, 230) 0%, rgb(226, 183, 191) 45%, rgb(223, 208, 186) 83%);
}

#ikaVuodet {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
}


/*----------------FOOTER-----------------*/

#footer {
    margin-top: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: var(--navbar-linkit-color);
    background-color: var(--navbar-li-hover);
}

#back-to-top {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position, leijuu kaiken muun päällä */
    bottom: 50px;
    right: 20px;
    z-index: 99;
    /* tekee nappulasta päällimmäisen */
    font-size: 26px;
    background-color: var(--navbar-linkit-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    /* Set the width to make it square (adjust as needed) */
    height: 40px;
    /* Set the height to make it square (adjust as needed) */
    padding: 10px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#back-to-top:hover {
    background-color: var(--navbar-li-hover);
}

/* Alussa näytetään navigointilinkit, kun näyttö on suurempi kuin 768px */
nav {
    display: block;
    /* KESKEN */
}

/*---------------------------QUIZ---------------------------*/
#quizP {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    padding: 70px;
    background-color: var(--esittely-color);
    font-size: 18px;
    color: var(--navbar-linkit-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 70%;
    border: 1px solid var(--navbar-li-hover)
}

#quiz {
    max-width: 600px;
    margin: 30px auto; /* Center the form container */
    padding: 20px;
    border: 2px solid #777777;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--navbar-color); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}



#quiz img{
max-width: 50%;
border-radius: 20%;
margin: 0 aut;
}

#quiz h2 {
    margin: 0 auto;
}

/* Style the submit button */
form#quiz button[type="button"] {
    background-color: #e9cded;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    
    border: 1px solid #673863;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font: 20px  Georgia, serif;
}

form#quiz button[type="button"]:hover {
    background-color: #a133a5;
    border: 1px solid #000000;
    color: #ffffff;
}

.form-control {
    margin: 20px 0;
    margin-bottom: 50px;
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center the text horizontally */
}


.rotuClass {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    display: block;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.radio-group label:hover {
    background-color: #f0f0f0;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #c5e7c6;
    color: #000000;
    border: 1px solid #4caf50;
}

.radio-group label {
    transition: background-color 0.2s;
}









/*----------------RESPONSIVE-----------------*/

@media (max-width: 768px) {

    #paaotsikko {
        font-size: 30px;
        margin-left: 0px;
       /* JOKU JUTTU ET OTSIKKO MENIS KESKELLE*/
        
    }



    #menu-icon {
        display: inline-block;
        /* Näytä menu-icon */
    }

    nav {
        display: none;
        /* Piilota navigointilinkit */
    }

    nav ul {
        flex-direction: column;
        /* Aseta navigointilinkit pystyyn */
        align-items: center;
        /* Keskennäköiseksi sivun keskelle */
    }

    nav li {
        margin-right: 0;
        /* Poista väli navigointilinkkien väliltä */
    }

    nav a {
        font-size: 16px;
        /* Pienennä fonttikokoa */
    }

    .container1 {
        flex-direction: column;
    }


        .features {
            flex-direction: column;
        }



    /* .bottom-info {

        max-height: 80%;

} */


#rampse { /*img*/
    height: 80%;
    width: 80%;

}
.info-container {
    grid-template-columns: 1.4fr;
    grid-template-rows: 1.4fr 1.4fr;
    grid-template-areas:
    "main"
    "sidebar"
    "content1"
    "content2"
    "content3";
    grid-gap: 0.4rem;
}

}

@media only screen and (max-width: 550px) {
    .info-container {
        grid-template-columns: 1.4fr;
        grid-template-rows: 1.4fr 1.4fr;
        grid-template-areas:
        "main"   
        "content1"
        "content2"
        "content3"
        "sidebar";
        grid-gap: 0.2rem;
    }
}
