/*----------------TEEMAT-----------------*/

/* Default (light) theme variables */
:root {
    --background-color: #bfc5bf;
    --mainTitlebackg-color: #a4b59b;
    --mainTitlereunat-color: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
    -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000,
    0px -2px 0 #000000, 7px 8px 5px rgba(69, 96, 80, 0.79);
    --sivunTassu: url("../assets/pictures/pawslight.png");

    --navbar-color: rgba(255, 255, 255, 0.3);
    --navbar-linkit-color: #505050;
    --navbar-hover-backg: #94a594;
    --navbar-hover-txt-color: #eeeeee;

    --switch-icon: url("../assets/pictures/night.png");
    --switch-backg-color: #94a594;
    --switch-hover-color: #bcbcbc;

    --esittely-color: #f0f0f0a8;
    --text-color: #505050;
    --esittelyBox-hover: #b7c3b7;

/*----------------BIO-----------------------*/

   --bio-backg-colour: #b0bba8;
   --countdown-backg-colour: linear-gradient(83deg, rgb(217, 200, 230) 0%, rgb(226, 183, 191) 45%, rgb(223, 208, 186) 83%);
   --coundown-border: 7px double #555d65;
   
/*----------------ALBUMS-----------------------*/
   
    --kansio-color: #b7c3b7;  
    --kansio-hover: #c9d1c5;
    --pic-hover: #f0f0f0;


 /*----------------QUIZ-----------------------*/

    --label-backg-color: #f0f0f0;
    --label-backg-hover: #f0f0f0;
    --label-backg-checked: #c5e7c6;
    --label-text-checked: #000000;
    --label-border-checked: #4caf50;

    --form-backg-colour: #bdcdbdab;

 /*-----------------TABLE------------------------*/

    --table-even-color: rgb(196, 213, 205);
    --table-odd-color: rgb(172, 191, 182);


/*--------FOOOOTer---------*/

    --footer-color: #94a594;
}

/* Dark theme variables */
.dark-theme {
    --background-color: #2e3230;
    --mainTitlebackg-color: #000000;
    --mainTitlereunat-color: 2px 2px 0 #89957fa8, 2px -2px 0 #89957fa8, -2px 2px 0 #89957fa8,
    -2px -2px 0 #89957fa8, 2px 0px 0 #89957fa8, 0px 2px 0 #89957fa8, -2px 0px 0 #89957fa8,
    0px -2px 0 #89957fa8, 7px 8px 5px rgba(0, 0, 0, 0.79);
    --sivunTassu: url("../assets/pictures/pawsdark.png");

    --navbar-color: rgba(78, 81, 76, 0.566);
    --navbar-linkit-color: #c7c7c7;
    --navbar-hover-backg: rgb(137, 149, 127);
    --navbar-hover-txt-color: #2a2a2a;

    --switch-icon: url("../assets/pictures/day.png");
    --switch-backg-color: rgb(137, 149, 127);
    --switch-hover-color: #bcbcbc;

    --esittely-color: #636a5da8;
    --text-color: #cdcdcd;
    --esittelyBox-hover: #8b9483a8;

    /*----------------BIO-----------------------*/

   --bio-backg-colour: rgba(78, 81, 76, 0.566);
   --countdown-backg-colour: linear-gradient(83deg, rgb(99, 74, 118) 0%, rgb(65, 98, 88) 45%, rgb(61, 122, 137) 99%);
   --coundown-border: 7px double #111111;

    
/*----------------ALBUMS-----------------------*/
   
    --kansio-color: #b7c3b7;
    --kansio-hover: #c9d1c5;
    --pic-hover: #636a5da8;


 /*----------------QUIZ-----------------------*/

 --label-backg-color: #343635;
 --label-backg-hover: #525252;
 --label-backg-checked: #546154;
 --label-text-checked: #ffffff;
 --label-border-checked: #243b24;

 --form-backg-colour: #303532;



 /*-----------------TABLE------------------------*/

    --table-even-color: rgb(55, 64, 59);
    --table-odd-color: rgb(41, 49, 45);

 /*-------------FOOTER------*/
    
    --footer-color: #636a5da8;
 

}
 /*----------------------------------------------------------------------------*/

/*----------------BODY-----------------*/
body {

    background-color: var(--background-color);
    height: 100vh; /* Full height of browser window */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: var(--text-color);
}


h1 {
    font-size: 30px;
    color: var(--text-color);
 
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
    color: var(--text-color);
}


/*----------------PÄÄOTSIKKO & NAVBAR-----------------*/
#menu-icon { /* nav icon joka tulee mediatilas*/
    width: 40px;
    height: 40px;
    background: url(../assets/pictures/menu-icon.png) no-repeat center center;
    background-size: contain; /*koko ikoni näkyy */
    border: none;
    cursor: pointer;
    display: none;
    
}

#paaotsikko {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--mainTitlebackg-color);
    font-size: 38px;
    text-shadow: var(--mainTitlereunat-color);
    
    display: flex;
    justify-content: center;
}

#paaotsikko::after{
    content: var(--sivunTassu);
    width: 10px;
    height: 10px;
    margin-left: 20px;   
}


.navbar {
    display: flex;
    align-items: center;
    background-color: var(--navbar-color);
    margin-top: 10px;
    position: relative;
    box-shadow: 0px 2px 40px rgba(69, 96, 80, 0.2);
    justify-content:space-around;
    padding-left: 10%;
    padding-right: 10%;
}

.navbarlinkit {
    list-style-type: none;
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center; /* Center the items horizontally */
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}


nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--navbar-linkit-color);
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px;
    border-radius: 10px;
}

nav li a:hover {
    color: var(--navbar-hover-txt-color);
    background-color: var(--navbar-hover-backg);
}


nav li a.current {
    text-decoration: underline;
    color: red;
}

#switch {
    border: none;
    background: var(--switch-icon) no-repeat center center;
    background-size: contain; /*koko ikoni näkyy */
    padding: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--switch-backg-color);
    border-radius: 100%;
    margin-left: 20px;
    transition: ease-out 0.3s;

    
}

#switch:hover {
    
    background-color: var(--switch-hover-color);
    
}

/*----------------ESITTELY-----------------*/


.container1 {   /*tervehdys container */
    
    background-color: var(--esittely-color);
    display: flex;
    justify-content: center; /* menee vierekkäin */
    align-items: center; /*emt ainaki rampse menee keskelle*/
    max-width: 80%;
    max-height: 50%;
    font-size: 18px;
    color: var(--text-color);
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

/* Style the welcoming text */
.esittelyH1 {
    font-size: 30px;
    color: var(--text-color);
}


/* Style the left column (containing the dog image) */
.left {
    flex: 1;
    max-width: 40%;
    padding-left: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally and vertically */
   

}

#rampse { /*img*/
   max-width: 80%; /* Ensure the image scales proportionally */
    height: auto; /* Allow the image to adjust its height accordingly */
    
}

/* Style the right column (containing the welcoming text) */
.right {
    flex: 1; /* Take up 1/2 of the container width */
    padding: 40px;
    max-width: 60%;
    display: flex;
    flex-direction: column; /* Stack the child elements vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;
   
    
}

/* Style the additional information at the bottom */
.bottom-info {
    background-color: var(--esittely-color);
    /* Grey background color */
    text-align: center;
    padding: 10px 0;
    max-width: 80%;
    margin: 0px auto;
    margin-top: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Style the paragraph inside the bottom info div */
.bottom-info p {
    font-size: 16px;
    color: var(--text-color);
    /* Text color */
}


.esittelyBoxit{
    
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;

    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr; /* kunkin leveys */
    grid-template-rows: 0.2fr 0.2fr;
    grid-template-areas: 
    "dexContent1 dexContent2 dexContent3";
    grid-gap: 3rem;
    
   
}



.esittelyBox {
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--esittely-color);
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    transition: ease-out 0.3s;

    

}

.esittelyBox:hover {

    background-color: var(--esittelyBox-hover);
    
}

.esittelyBoxit a {

    text-decoration: none;
    /*ei alleviivauksia linkissä*/
    color: var(--text-color);
    
}

.esittelyBox img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}


#dexContent1 {
    grid-area: dexContent1;
}

#dexContent2 {
    grid-area: dexContent2;
}

#dexContent3 {
    grid-area: dexContent3;
}




/*----------------GALLERIA-----------------*/

#galtsuTxtjaButtons {

    text-align: center;
    /* Center text horizontally within the section */
    padding: 20px;
    /* Add padding for spacing */
    background-color: var(--esittely-color);
    font-size: 16px;
    color: var(--text-color);
    /* Text color */
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding-bottom: 60px;
    height: 60vh;

    max-width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}



#galtsuTxtjaButtons p {
    margin-top: 40px;
}

.albums {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
    


}

.galButton {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-top: 10px;
    margin-top: 40px;
    
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    
    
}

.galButton img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in-out;
    margin-bottom: 29px;
    background-color: var(--kansio-color);
}



#puppyFolder:hover {
    background-color: #c6e6b4;
}
#adultFolder:hover {
    background-color: #a6cea2;

}
#friendFolder:hover {
    background-color: #9fd2bc;
}

.galButton img:hover {
    transform: scale(1.2); 
}

/*-------------Gallerian sisältö--------*/
#gallery {
    /*koko gallerian "säiliö" kuvineen ja teksteineen*/
    display: grid;
    /* more flexible and responsive layout with grip, allows to define how items should be placed in rows/columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*creates as many columns as possible based on the available space, ensures thah each column will be at least 250 pixels wide, but no wider than 1fr*/
    gap: 30px;
    /* space between rows and columns //horizo */
    padding: 50px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

}

.kuvatContainer {
    border: 2px solid var(--text-color);
    background-color: var(--navbar-color);
    padding: 20px;
    border-radius: 31px;
    transition: transform 0.5s ease-in-out;
    background-color: var(--navbar-color);
    margin-bottom: 20px;

}

.kuvatContainer .kuvat {
    /*itse sisältö eli kuva ja teksti*/
    /* margin: 60px 10px 60px 10px; ylä, oikea, ala, vasen */
    max-width: 100%;
    /* Limit image width to its container */
    height: auto;
    /* Maintain the aspect ratio */
    border-radius: 20px;
}

.kuvatContainer:hover {

    transform: scale(1.1);
    border: 2px solid var(--navbar-hover-backg);
    background-color: var(--pic-hover);

}

.kuvatContainer .description {

    background: rgba(48, 48, 48, 0.7);
    color: white;
    border: 1px solid #474747;
    padding: 10px;
    text-align: center;
    transform: translateY(90%);
    /*teksi on 100px tai % kuvan alapuolella*/
    transition: transform 0.3s ease-in-out;
    /* 0.3 sec viive, täytyy olla täällä koska */

}

.kuvatContainer:hover .description {
    transform: translateY(10%);
    /*teksti siirtyy kuvan päälle*/
    border-radius: 31px;
}


/*----------------BIO/INFO -----------------*/

#grid-body {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.info-container{
    
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr;
    grid-template-areas: 
    "main main main sidebar"
    "content1 content2 content3 sidebar";
    grid-gap: 1rem;
    text-align: center;
    background-color: var(--bio-backg-colour);
    padding: 10px;
    border-radius: 10px;
}

.info-container h2{
    font-size: 18px;
    margin-bottom: 30px;

}
.info-container p{
    font-size: 18px;
    
}

main {
    grid-area: main;
    display: flex;
}

.main-info, .main-hobbies {
    flex: 1; /* Equal width for both sections */
    padding: 10px; /* Optional padding for spacing */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--esittely-color);
}

.main-info {

   
    border-radius: 10px 0px 0px 10px;

}

.main-info p {
 margin-bottom: 10px;
 text-align: left;
}

.main-info img {
    max-width: 50%;
    border-radius: 20%;
    border: solid 2px rgb(62, 62, 62);
}

.main-hobbies {
    
    border-radius: 0px 10px 10px 0px;
}

.main-hobbies ul, .main-info ul{
    list-style-type:circle;
    margin-left: 20px;
    font-size: 18px;
}

.main-hobbies li, .main-info li {
    margin-bottom: 10px;
    text-align: left;
    margin-left: 0px;
}
#sidebar {
    background-color: var(--esittely-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    grid-area: sidebar;
    border-radius: 10px;
    padding: 24px;
    border: solid 2px var(--text-color);
    
}
/* Kontsa 1 */
#content1{

    background-color: var(--esittely-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    grid-area: content1;
    border-radius: 10px;
}
#content1 video {
    max-width: 100%;
   
}

/* Kontsa 2 */
#content2 {
    background-color: var(--esittely-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    grid-area: content2;
    border-radius: 10px;
    text-align: center;
    
   
}


.linkit {
    list-style: none;
    margin-left: 50px;
    font-size: 18px;     
    padding: 0;
    
}



.linkit li {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
 
}


.linkit a {
    text-decoration: none;
    color: var(--text-color);
    
    
}

.linkit img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.linkit a:hover {

    text-decoration: underline;
    color: var(--switch-color);

}

/* Kontsa 3 */
#content3 {

    background-color: var(--esittely-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    grid-area: content3;
    border-radius: 10px;
    font-size: 20px;
}

#countdown {
    font-size: 18px;
    background-color:rgba(207, 183, 209, 0.5);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 20px;
    border: var(--coundown-border);
    background: var(--countdown-backg-colour);
}



#ikaVuodet {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
}


/*----------------FOOTER-----------------*/

#footer {
    margin-top: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--footer-color);
    grid-area: 2 / 1 / 3 / -1;
}




#back-to-top {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position, leijuu kaiken muun päällä */
    bottom: 50px;
    right: 20px;
    z-index: 99;
    /* tekee nappulasta päällimmäisen */
    font-size: 26px;
    background-color: var(--navbar-hover-backg);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    /* Set the width to make it square (adjust as needed) */
    height: 40px;
    /* Set the height to make it square (adjust as needed) */
    padding: 10px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#back-to-top:hover {
    background-color: var(--text-color); 
}

/* Alussa näytetään navigointilinkit, kun näyttö on suurempi kuin 768px */
nav {
    display: block;
    /* KESKEN */
}

/*---------------------------QUIZ---------------------------*/
#quizP {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    padding: 70px;
    background-color: var(--esittely-color);
    font-size: 18px;
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 40px;
    border: 1px solid var(--navbar-hover-backg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.396);
}

#quiz {
    max-width: 600px;
    margin: 30px auto; /* Center the form container */
    padding: 20px;
    border: 2px solid #777777;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--navbar-color); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}



#quiz img{
max-width: 50%;
border-radius: 20%;
margin: 0 auto;
}

#quiz h2 {
    margin: 0 auto;
}

/* Style the submit button */
form#quiz button[type="button"] {
    background-color: var(--footer-color);
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font: 20px  Georgia, serif;
}

form#quiz button[type="button"]:hover {
    background-color: var(--switch-hover-color);
    color: var(--label-backg-checked);
}

.form-control {
    margin: 20px 0;
    margin-bottom: 50px;
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center the text horizontally */
}

.rotuClass {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    display: block;
    background-color: var(--label-backg-color);
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.radio-group label:hover {
    background-color: var(--label-backg-hover);
}

.radio-group input[type="radio"]:checked + label {
    background-color: var(--label-backg-checked);
    color: var(--label-text-checked);
    border: 1px solid var(--label-border-checked);
}

.radio-group label {
    transition: background-color 0.2s;
}



/*----------------------TABLE--------------------*/


#rotuvertailu-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    background-color: var(--esittely-color) ;
    padding: 50px;
    border-radius: 10px;
    overflow-x: auto;
}

#rotuvertailu-container h2 {
    margin-bottom: 60px;
    background-color: var(--esittely-color) ;
    padding: 50px;
    border-radius: 10px;
}
table {
    
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
   
  }
  th.saka {
    width: 100px; /* Adjust the width as needed */
}

  table img {
    max-width: 70%;
    border-radius: 10px;
  }
  
  th, td {
    border: 1px solid var(--text-color);
    padding: 8px;
  }
  
  th {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  tr:nth-child(even) {
    background-color: var(--table-even-color);
  }
  
  tr:nth-child(odd) {
    background-color: var(--table-odd-color);
  }


  #lahdeCont {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    background-color: var(--esittely-color) ;
    border-radius: 10px;
    overflow-x: auto;
    padding-bottom: 20px;
  }


  .lahdeLinkit {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
  }




/*----------------MEDIA----RESPONSIVE-----------------*/
/* Mobile */
@media (max-width: 768px) {

    #paaotsikko {
        font-size: 30px;
    }

    #paaotsikko::after{
        display: flex;
        margin: 0 auto;
        margin-left: 30px;
        width: 5%;
        height: 5%;
        
    }

    nav a {
        display: none;
        /* Piilota navigointilinkit */
    }
    .button-container {
        display: flex;
        align-items: center;
        gap: 20px;
        
    }
  
    #menu-icon {
        display: block;
    }

    #switch, #menu-icon {
        margin: 0;
    }

  
  

    nav ul {
        flex-direction: column;
        /* Aseta navigointilinkit pystyyn */
        align-items: center;
        /* Keskennäköiseksi sivun keskelle */
    }

    nav li {
        margin-right: 0;
        /* Poista väli navigointilinkkien väliltä */
    }

    nav a {
        font-size: 16px;
        /* Pienennä fonttikokoa */
    }

    .container1 {
        flex-direction: column;
    }


        .features {
            flex-direction: column;
        }



    /* .bottom-info {

        max-height: 80%;

} */


#rampse { /*img*/
    height: 80%;
    width: 80%;

}
.info-container {
    grid-template-columns: 1.4fr;
    grid-template-rows: 1.4fr 1.4fr;
    grid-template-areas:
    "main"
    "sidebar"
    "content1"
    "content2"
    "content3";
    grid-gap: 0.4rem;
}

.esittelyBoxit {

    grid-template-columns: 1fr; /* leveys*/
    grid-template-rows: 1fr 1fr 1fr; /* korkeus*/
    grid-template-areas:
    "dexContent1"
    "dexContent2"
    "dexContent3";
    grid-gap: 0.9rem;

}

table {
    font-size: 14px;
    display: block;
}
tr {
    display: block;
    border: 1px solid #ccc;
    margin: 10px 0;
}
td {
    display: block;
}

}


@media only screen and (max-width: 550px) {
    .info-container {
        grid-template-columns: 1.4fr;
        grid-template-rows: 1.4fr 1.4fr;
        grid-template-areas:
        "main"   
        "content1"
        "content2"
        "content3"
        "sidebar";
        grid-gap: 0.2rem;
    }
}

/* Tablet styles */
/* @media (max-width: 768px) {
    #paaotsikko {
        font-size: 30px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbarlinkit {
        flex-direction: column;
        align-items: center;
    }

    #switch {
        margin: 20px 0; 
    }


} */

/* Mobile styles */
/* @media (max-width: 480px) {
    #paaotsikko {
        font-size: 24px;
    }

    .navbar {
        padding: 10px;
    }

    .navbarlinkit {
        margin: 0;
    }

    #switch {
        margin: 10px 0; 
    }

   
} */